* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url(../images/model-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home__name {
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #fff;
}

.home__name__last {
  color: #ff652f;
  font-weight: 700;
}

.menu__btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.menu__btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
}

.menu__btn__burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
}

.menu__btn__burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
}

.menu__btn__burger.open {
  transform: rotate(360deg);
  background: transparent;
}

.menu__btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}

.menu__btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu__nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #272727;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.4s ease-in-out;
}

.nav .menu__nav.open {
  transform: translateY(0);
}

.nav .menu__nav__item {
  transform: translateX(100vw);
  transition: all 0.4s ease-in-out;
}

.nav .menu__nav__item.open {
  transform: translateX(0);
}

.nav .menu__nav__item.active > a {
  color: #ff652f;
}

.nav .menu__nav__link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 400;
  transition: all 0.4s ease-in-out;
}

.nav .menu__nav__link:hover {
  color: #ff652f;
}

.menu__nav__item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu__nav__item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu__nav__item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu__nav__item:nth-child(4) {
  transition-delay: 0.55s;
}

.about {
  padding-bottom: 2rem;
}

.about__bio__image {
  height: 50vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url(../images/model-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.about__bio__image p {
  margin-bottom: 2rem;
  text-align: justify;
}

.about__bio {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.about__bio .text__secondary {
  padding-bottom: 1rem;
}

.about .jobs {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.about .jobs__job {
  background: #414141;
  padding: 0.8rem;
  border-bottom: 5px solid #ff652f;
}

.about .jobs__job h2,
.about .jobs__job h3 {
  margin: 0.5rem 0;
}

.about .jobs__job h5 {
  margin: 0.3rem 0;
}

.about .social__icons {
  display: flex;
  flex-direction: column;
}

footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.projects {
  padding-bottom: 2rem;
}

.projects__bio__image {
  height: 50vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url(../images/model-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.projects__bio__image .text__secondary {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.projects__items {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.projects__items .projects__item {
  position: relative;
  border-bottom: 5px solid #ff652f;
  overflow: hidden;
  cursor: pointer;
}

.projects__items .projects__item img {
  width: 100%;
}

.projects__items .projects__item::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ff652f;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.projects__items .projects__item:hover::after {
  top: 0;
  opacity: 0.9;
}

.projects__items .projects__item:hover .projects__btns__single {
  opacity: 1;
}

.projects__items .projects__btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
}

.projects__items .projects__btns__single {
  opacity: 0;
  color: #000;
  transition: all 0.4s ease-in-out;
}

.projects__items .projects__btns__single:hover {
  color: #fff;
}

.projects .social__icons {
  display: flex;
  flex-direction: column;
}

footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.contact {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url(../images/model-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.contact__list {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-size: 1.5rem;
}

.contact__list .mt-10 {
  margin-top: 10px;
}

.contact .social__icons {
  position: initial;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .menu__btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu__nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
  .nav .menu__nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu__nav__link {
    font-size: 1.5rem;
  }
  .about__bio {
    font-size: 1.5rem;
  }
  .projects__bio__image {
    height: 40vh;
  }
  .projects__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .text__secondary {
    font-size: 3rem;
  }
  .contact__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .projects__items {
    grid-template-columns: repeat(3, 1fr);
  }
  .contact__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .projects__bio__image {
    height: 50vh;
  }
}

body {
  background-color: #272727;
  color: #fff;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1,
h2,
h3 {
  font-weight: 500;
}

a {
  color: #fff;
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 1rem;
}

.text__secondary {
  color: #ff652f;
}

main {
  height: 100%;
  width: 100%;
}

main .social__icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

main .social__icons a {
  padding: 0.4rem;
  transition: all 0.4s ease-in-out;
}

main .social__icons a:hover {
  color: #ff652f;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #fff;
}
